.d-flex-1 {
    width: 100%;
    display: flex;
    align-content: space-between;
    position: relative;
}
.card-body {
    position: relative;
}
.position-1 {
    position: relative;
    font-size: 40px;
    color: #025c5c;
    text-shadow: 3px 5px 5px red;
    display: block;
}
/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){s
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }


}
.velder-text{
    width: 70%;
    margin: 0 auto;
    background: url(../img/floor.jpg) no-repeat;
padding: 50px;
background-size: cover;
text-align: justify;
opacity: 6;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
        
.width p{
    width: 80%;
    margin:0 auto;
    font-size: 15px;
}
